.logo-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.logo-image {
  width: 150px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo-image:hover {
  transform: scale(1.05);
}

.top-right-menu {
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;
}

.help-button, .language-button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  backdrop-filter: blur(37px);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 40px;
  min-width: 120px;
  justify-content: center;
}

.help-button:hover, .language-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: yellow;
  color: yellow;
}

.help-button svg, .language-button svg {
  font-size: 16px;
  width: 24px;
  height: 24px;
} 